*{
	box-sizing: border-box;
}

body{
	/*border: solid blue;*/
	margin: 0px;
}

/*******reglas para la barra de navegacion**********/
ul{
	/*border: 1px solid lightgreen;*/
	list-style-type: none;
	/*elimina el margin y padding del navegador*/
	margin: 0px;
	padding: 0px;

	background-color: #f5f5f5;
	overflow: hidden;/*hidden vs auto*/
	width: 100%;
	/*margin: auto;*/
	position: fixed;
	top: 0px;/*para fijar en la parte superior*/
	/*bottom: 0px;*//*para fijar en la parte inferior*/
	/*para que se muestre por encima de cualquier elemento*/
	z-index: 1;
}

li a{
	/*border: solid red;*/
	display: block;/*ocupara todo el ancho de su contenedor el tag li*/
	text-decoration: none;
	color: #555;
	cursor: pointer;
	padding: 14px 16px;
	text-align: center;
	font-style: italic;

}

a.active{
	background-color:#ffffff;
	color: #555;
}

li a:hover{
	text-decoration: none;
}

li a:hover:not(.active){
	background-color: #ffffff;
	color: #555;
}

li{	
	float: left;	/*navigation bar horizontal*/
	/*border-right: 1px solid black;*/
}

li:last-child{
	/*border-right: none;*/
}
/*******fin de barra de navegacion********/

/*****reglas para el slider*****/
div#carouselExampleControls{
	/*border: solid black;*/
	background-color: #f5f5f5;
	width: 100%;
	height: 630px;
	margin-top: 50px;
}

div.carousel-inner{
	/*border: solid green;*/
	height: 100%;
}
/*****fin del slider*****/

div.contenidoPrincipal{
	/*border: solid blue;*/
	/*min-height: 1000px;*/
}

/*****contenido principal de la pagina*****/
div#about{
	background-color: #f5f5f5;
	height:630px;
	/*border: solid red;*/
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
div#about p{
	font-size: px;
	color: #555;
	font-style: italic;
}

div#about h1{
	font-style: italic;
	font-variant:small-caps;
	/*color: lightgreen;*/

}

input[type=text],input[type=email],textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid lightgreen;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}
input[type=email]:focus {
    border: 3px solid #555;
}
textarea:focus {
    border: 3px solid #555;
}
/* Sugerencia: use ancho: 100% para botones de ancho completo */
input[type=submit] {
    /*width: 100%;*/
    background-color: lightgreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div#contact{
	/*border: solid brown;*/
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

div#lp{
	background-color: #555;
	height: 333.333px;
}

div#lp{
	/*border: solid green;*/
	height: 500px; 
	display: flex;
	flex-flow: row wrap;
	align-items:center;
	justify-content: space-between;
}

div.foto{
	/*border: solid gray;*/
	width: 150px;
	height:150px;
	
}
/*****fin de contenido principal*****/

/******reglas del pie de pagina******/
footer{
	/*border: solid yellow;*/
	background-color: #555;
	width: 100%;
	text-align: center;
	color: white;
	height: 100px;
	font-style: italic;
}
/******fin de pie de pagina********/


/*-----------------------------------*/
div#imagen{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	/*margin: 30px;*/
	position: relative;
}

div#info{
	position: absolute;
	top: 0px;
	overflow: hidden;
	width: 150px;
	height: 150px;
	background-color: rgba(31,31,31,0.7);
	transition: opacity 1s;
	opacity: 0;
	border-radius: 50%;
}

div#imagen:hover div#info{
	opacity: 1;
}

p#headline{
	position: absolute;
	margin-left: -70px;
	margin-top: 50px;
	transition: margin 0.2s;
	font-size: 21px;
}

div#imagen:hover p#headline{
	margin-left: 35px;
	color: white;
}